/* --------SCREEN READER----- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* --------WRAPPER--------- */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  background: #d1ccc0;
  font-family: "Modak", cursive;
}

/* ---------_CONTAINER--------- */

._container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
/* -------@MEDIA----------------- */

@media (max-width: 500px) {
}

/* -----------BUTTONS--------- */
.header__btn {
  gap: 5px;
  font-size: 50px;
  color: #34ace0;
  background: #f7f1e3;
}

/* -----------HEADER--------- */

.header {
  position: sticky;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background: #f7f1e3;
  box-shadow: 0 1px 10px #84817a;
}

.header__container,
h1 {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  align-items: center;
  color: #218c74;
  font-size: 65px;
}

.header__logo {
  font-size: 60px;
  color: #34ace0;
}

/* ------MAIN SECTION-------- */

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 90px;
  flex: 1 1 auto;
}
.main__card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 10px #84817a;
  border-radius: 10px;
  height: 150px;
  width: 300px;
  margin: 10px;
  color: #218c74;
}

.card__like {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #b33939;
  background-color: transparent;
  background-image: none;
  font-size: 20px;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.card-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

.img__link {
  position: absolute;
  z-index: 10;
  color: #218c74;
}
.card__name {
  display: inline-block;
  font-size: 18px;
}

/* -------------FOOTER--------- */

.footer {
  background: #f7f1e3;
  box-shadow: 0 -1px 5px #84817a;
}
.footer-socials {
  display: flex;
  font-size: 35px;
  gap: 15px;
  color: #d1ccc0;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.footer-copyright,
p {
  display: inline-block;
  justify-content: space-between;

  font-size: 20px;
  opacity: 0.8;
}
.fa-git-alt {
  color: #ff5252;
}
.fa-telegram {
  color: #34ace0;
}

.fa-instagram {
  color: #474787;
}

/* ---------------POPUP----------- */

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup__content {
  background-color: #ffd979;
  color: black;
  max-width: 800px;
  padding: 30px;
  position: relative;
  border-radius: 15px;
}

.popup__title {
  font-size: 40px;
  margin: 0px 0px 1em 0px;
}

.popup__image {
  max-width: 100%;
  max-height: 100%;
}
.btn {
  background: #ffd979;
}

.popup_active {
  opacity: 1;
  visibility: visible;
  transition: linear 0.2s, linear 0.2s;
  transition-property: opacity, background-color;
  z-index: 20;
}
.popup__close {
  position: absolute;
  top: 20px;
  right: 20px;
}
